{% extends('base.html.twig') %}

{% block body %}

{% for message in app.flashes('created') %} 

<div class="alert alert-success">
	{{ message }}
</div>
{% endfor %}

{% for message in app.flashes('success') %} 

<div class="alert alert-success">
	{{ message }}
</div>
{% endfor %}

<!-- Calatori -->

<hr class="new5">

<h2>Tabelul Calatori</h2>
<table class="table table-striped">
<thead>
<tr>
<th>ID</th>
<th>Nume</th>
<th>Prenume</th>
<th>Varsta</th>
<th>Cod Personal</th>
<th>Adresa</th>
<th><div class="d-flex justify-content-center">Options</div></th>
</tr>
</thead>
<tbody>
	{% for calator in calatori %}
	<tr>
		<td>
            <a href="{{path('search_calatori',{id:calator.id})}}">{{calator.id}}</a>
        </td>
		<td>
            {{calator.nume}}
		</td>
		<td>
            {{calator.prenume}}
		</td>
		<td>
            {{calator.varsta}}
		</td>
        <td>
            {{calator.CodPersonal}}
		</td>
        <td>
            {{calator.adresa}}
		</td>
        <td>
            <div class="d-flex justify-content-around">
            <a href="{{path('edit_calatori',{id:calator.id})}}">Update</a>
            <a class="text-danger" href="{{path('delete_calatori',{id:calator.id})}}">Delete</a>
            </div>
        </td>
	</tr>
	{%endfor%}
</tbody>
</table>

<form action="{{path('create_calatori')}}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Creaza Calator Nou</button>
</form>

<hr class="new5">


{% endblock %}